@import "bootstrap.less";
@import "adaptive.less";
@import "topbar.less";
@import "secondbar.less";
@import "comments.less";
@import "headings.less";
@import "sidebar.less";


.versionlist,
.sortlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.versionlist li a,
.sortlist li a {
    display: block;
    border-top: 1px dotted #eee;
    padding: 5px 7px;
    color: @grayDark;
}

.versionlist li a:hover,
.sortlist li a:hover {
    text-decoration: none;
    background-color: #fcfcfc;
    padding-left: 10px;
}

.versionlist li.active a,
.versionlist li.active a:hover,
.sortlist li.active a,
.sotrlist li.active a:hover {
    background-color: @grayLighter;
    font-weight: bold;
    text-shadow: 0 1px 0 @white;
    padding-left: 7px;
}

.package_details {
    box-shadow: 0px 1px 1px #eee;
}
.package_details th {
    vertical-align: top;
    position: relative;
    bottom: -1px;
}
.package_details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.loading_message {
    margin: 0 0 0 0;
    padding: 0.5em 1em;
}
.compact_package_list,
.compact_user_list {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0.5em 1em;
}
.compact_package_list li,
.compact_user_list li {
    position: relative;
    height: 20px;
}
.compact_package_list li .name,
.compact_user_list li .name {
    position: absolute;
    top: 3;
    left: 0;
}
.compact_package_list .extra,
.compact_user_list .extra {
    position: absolute;
    top: 0;
    right: 1.5em;
    color: @gray;
}

.compact_user_list li {
    position: relative;
    margin-bottom: 1em;
    height: 24px;
}
.compact_user_list li .avatar {
    position: absolute;
    top: 0;
    left: 0;
}
.compact_user_list li .name {
    position: absolute;
    top: 0;
    left: 52px;
}

.package_list {
    margin: 0.5em 1em 2em 0em;
    padding: 0;
    list-style-type: none;
}

.package_list li .name {
    font-size: 1.1em;
}

.package_list li .description {
    margin: 0.1em 0 0 0;
}

.package_list li .extra {
    color: @gray;
    margin: 0.5em 0 1.25em 0;
}

#total_packages a {
    display: block;
    padding: 0.5em 1em;
    color: @grayDark;
    background: @grayLighter;
    border: 1px dotted @grayLight;
    .border-radius(5px)
}
#total_packages a:hover {
    text-decoration: none;
    color: @black;
    background: @grayLighter;
    border: 1px solid #aaa;
}

#sidebar .menu li a {
    color: blue !important;
}

#content {
    margin-bottom: 2em;
}

#readme div.data {
  background-color: #f5f5f5;
  display: block;
  padding: (@baseline - 1) / 2;
  border: 1px solid #ccc;
  .border-radius(3px);
}

code {
    line-height: 18px;
    background: none !important;
}
