@import "bootstrap.less";
@import "adaptive.less";
@import "topbar.less";
@import "secondbar.less";
@import "comments.less";
@import "headings.less";
@import "sidebar.less";


.compact_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.compact_menu li a {
    display: block;
    border-top: 1px dotted #eee;
    padding: 5px 7px;
}
.versionlist li a {
    color: @grayDark;
}

.compact_menu li a:hover {
    text-decoration: none;
    background-color: #fcfcfc;
    padding-left: 10px;
}

.compact_menu li.active a,
.compact_menu li.active a:hover {
    background-color: @grayLighter;
    font-weight: bold;
    text-shadow: 0 1px 0 @white;
    padding-left: 7px;
}

table.details {
    box-shadow: 0px 1px 1px #eee;
}
table.details th {
    vertical-align: top;
    position: relative;
    bottom: -1px;
}
table.details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.loading_message {
    margin: 0 0 0 0;
    padding: 0.5em 1em;
}

.repository_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.repository_list .thumb {
    width: 32px;
    height: 32px;
    margin-left: 1em;
}
.repository_list .extra {
    color: @gray;
    margin-right: 1em;
}
.repository_list .extra_container {
    text-align: right;
}
.repository_list .details {
    padding: 0 1em;
}
.repository_list .description {
    color: @gray;
    margin-bottom: 1em;
}
.repository_list .main {
    font-weight: bold;
}
.repository_list .action {
    font-style: italic;
}
.repository_list li {
    margin-bottom: 0.33em;
}

#total_packages a {
    display: block;
    padding: 0.5em 1em;
    color: @grayDark;
    background: @grayLighter;
    border: 1px dotted @grayLight;
    .border-radius(5px)
}
#total_packages a:hover {
    text-decoration: none;
    color: @black;
    background: @grayLighter;
    border: 1px solid #aaa;
}

#sidebar .menu li a {
    color: blue !important;
}

#content {
    margin-bottom: 2em;
}

#readme div.data {
  background-color: #f5f5f5;
  display: block;
  padding: (@baseline - 1) / 2;
  border: 1px solid #ccc;
  .border-radius(3px);
}

code {
    line-height: 18px;
    background: none !important;
}
