<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>{{category}}</h1>
        <p>Packages in the '{{category}}' category</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        {{{include "package_list.html"}}}
      </div>

      <div id="sidebar" class="span4">
        <h4>Categories</h4>
        <ul id="categories"></ul>
      </div>

    </div>
  </div>
</div>
