<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Package repository</h1>
        <p>Kanso packages provide additional build processes and resources for building CouchApps</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <h3><a href="{baseURL}/all/updated">Latest updates</h3>
        {>"compact_package_list.html"/}

        <h3><a href="{baseURL}/all/dependents">Most depended on</a></h3>
        <div id="most_depended_on">
          <div class="loading_message">Loading...</div>
        </div>

        <h3>Top submitters</h3>
        <div id="top_submitters">
          <div class="loading_message">Loading...</div>
        </div>
      </div>

      <div class="span4">
        <!--
        <div id="search_box">
          <h5>Search</h5>
          <form id="search_box_form" action="" method="GET">
            <input type="text" name="q" />
            <input type="submit" value="Go" />
          </form>
        </div>
        -->
        <div id="total_packages"></div>
      </div>

    </div>
  </div>
</div>
