<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Package repository</h1>
        <p>Kanso packages provide additional build processes and resources for building CouchApps</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">

        <h2>Latest updates</h2>
        <div id="latest_updates">
          <div class="loading_message">Loading...</div>
        </div>

        <h2>Most depended on</h2>
        <div id="most_depended_on">
          <div class="loading_message">Loading...</div>
        </div>

        <h2>Top submitters</h2>
        <div id="top_submitters">
          <div class="loading_message">Loading...</div>
        </div>

      </div>

      <div id="sidebar" class="span4">
        <h4>Categories</h4>
        {{{include "category_list.html"}}}
      </div>

    </div>
  </div>
</div>
