{#doc}

<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><a href="{baseURL}/details/{_id|uc}">{name}</a></h1>
        <p>{description}</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>

{/doc}

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">

        {#cfg}
        <table class="package_details">
          {?website}
          <tr class="website">
            <th>Website</th>
            <td><a href="{website}">{website}</a></td>
          </tr>
          {/website}
          <tr class="submitted_by">
            <th>Submitted by</th>
            <td><a href="{baseURL}/user/{submitted_by|uc}">{submitted_by}</a></td>
          </tr>
          <tr class="published">
            <th>Published</th>
            <td>{published_date}</td>
          </tr>
          {?maintainers}
          <tr clas="maintainers">
            <th>Maintainers</th>
            <td>
              <ul>
              {#maintainers}
              <li>
                {?website} <a href="{website}">{name}</a> {:else} {name} {/website}
              </li>
              {/maintainers}
              </ul>
            </td>
          </tr>
          {/maintainers}
          {?dependency_list}
          <tr class="dependencies">
            <th>Dependencies</th>
            <td>
              <ul>
                {#dependency_list}
                  <li><a href="{baseURL}/details/{.|uc}">{.}</a></li>
                {/dependency_list}
              </ul>
            </td>
          </tr>
          {/dependency_list}
        </table>
        {/cfg}

      </div>

      {#doc}
      <div id="sidebar" class="span4">
        <ul class="versionlist">
          {#version_list}
          <li{?active} class="active"{/active}>
            <a href="{baseURL}/details/{_id|uc}/{version|uc}">{version}</a>
          </li>
          {/version_list}
      </div>
      {/doc}

    </div>
  </div>
</div>
