<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><a href="{{baseURL}}/details/{{uc doc._id}}">{{doc.name}}</a></h1>
        <p>{{doc.description}}</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">

        <table class="package_details">
          {{#if cfg.url}}
          <tr class="url">
            <th>URL</th>
            <td><a href="{{cfg.url}}">{{cfg.url}}</a></td>
          </tr>
          {{/if}}
          <tr class="submitted_by">
            <th>Submitted by</th>
            <td><a href="{{baseURL}}/user/{{uc doc.submitted_by}}">{{doc.submitted_by}}</a></td>
          </tr>
          <tr class="published">
            <th>Published</th>
            <td>{{published_date}}</td>
          </tr>
          <tr class="archive">
            <th>Archive</th>
            <td><a rel="external" href="{{archive_url}}">{{archive_basename}}</a></td>
          </tr>
          {{#if cfg.maintainers}}
          <tr clas="maintainers">
            <th>Maintainers</th>
            <td>
              <ul>
              {{#each cfg.maintainers}}
              <li>
                {{#if url}} <a href="{{url}}">{{name}}</a> {{else}} {{name}} {{/if}}
              </li>
              {{/each}}
              </ul>
            </td>
          </tr>
          {{/if}}
          {{#if dependency_list}}
          <tr class="dependencies">
            <th>Dependencies</th>
            <td>
              <ul>
                {{#each dependency_list}}
                  <li><a href="{{baseURL}}/details/{{uc this}}">{{this}}</a></li>
                {{/each}}
              </ul>
            </td>
          </tr>
          {{/if}}
        </table>

        <div id="readme"></div>

      </div>

      <div id="sidebar" class="span4">
        <ul class="versionlist">
          {{#each version_list}}
          <li{{#if active}} class="active"{{/if}}>
            <a href="{{baseURL}}/details/{{uc ../doc/_id}}/{{uc version}}">{{version}}</a>
          </li>
          {{/each}}
      </div>

    </div>
  </div>
</div>
