<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Package Repository</h1>
        <p>Kanso packages provide additional build processes and resources for building CouchApps</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <h2>Recently Updated</h2>

        <ul class="package_list">
        {#rows}
          <li class="package">
            <div class="name"><a href="{baseURL}/details/{id|uc}">{key}</a></div>
            <div class="description">{value.description}</div>
          </li>
        {/rows}
        </ul>
      </div>

      <div class="span4">
        Sidebar
      </div>

    </div>
  </div>
</div>
