<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>{name}</h1>
        <p>Respository activity by {name}</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <h3>Packages</h3>
        {>"package_list.html"/}

        <h3>Comments</h3>
        <div id="comments">
          <div class="loading_message">Loading...</div>
        </div>
      </div>

      <div class="span4">
        Sidebar
      </div>

    </div>
  </div>
</div>
